body {
  margin: 0;
  font-family: Poppins, sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom, #9fe3ff, #7cd4ff, #5bc5ff, #3bb2ff);
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-card, .leaderboard-card {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0.6);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.profile-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-top: 0;
  color: #004b7a;
  text-shadow: 0px 1px 3px rgba(255,255,255,0.6);
}

p, li {
  font-size: 1.1em;
  color: #003f66;
}

.leaderboard-card ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.leaderboard-card li {
  background: rgba(255,255,255,0.45);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.7);
  font-weight: 500;
}


.play-btn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: #6dd6ff;
  background: linear-gradient(to bottom, #8ee6ff, #5dcfff);
  border: none;
  border-radius: 15px;
  font-size: 1.2em;
  color: #003f66;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: 0.2s ease;
}

.play-btn:hover {
  transform: translateY(-3px);
  background: linear-gradient(to bottom, #a4edff, #7adbff);
}

.play-btn:active {
  transform: scale(0.97);
}

.logout-btn {
      padding: 8px 20px;
      font-size: 16px;
      background: #ff4c4c;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background 0.2s ease;
    }
    .logout-btn:hover {
      background: #e04343;
    }